body{
    background: rgb(117, 114, 114)
}
#banner {
    width: 100%;
}
h1 {
    text-align: center;
}
p {
text-align: center; 
}
#missao{
    font-size: 20px;
}
em strong {
    color :rgb(186, 17, 17)
}
